body {
    background: url(https://i.imgur.com/yW3GEVf.png) repeat;
    background-size: 1100px 700px;
}
td {
    margin: 0 auto;
    height: 85px;
    width: 85px;
    border-radius: 20px;
    background: url(https://i.imgur.com/lQpjbDR.png) no-repeat;
    background-size: 57px;
    background-position: 12px;
}
.btn {
    margin-left: 10px;
    margin-right: -4px;
    margin-bottom: -4px;
    margin-top: 10px;
    border: 2px solid pink;
    padding: 13px 27px;
    border-radius: 10px;
    background-color: rgb(255, 255, 164);
    font-size: 15px;
}
.btn:hover {
    background-color: rgb(199, 110, 255);
    color: rgb(0, 0, 0);
}
.board {
    margin-left: auto;
    margin-right: auto;
    margin-top: 14px;
    border-collapse: separate;
    border-spacing: 10px;
 }
h1 {
     font-size: 45px;
     text-align: center;
     margin: 0 auto;
     font-family: 'Lobster', cursive;
     text-shadow: 2px 2px;
 }
h2 {
    font-size: 20px;
    margin: 10px 0px;
    text-align: center;
    font-family: 'Lobster', cursive;
}
.btns {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
#play {
    display: block;
    margin: 0 auto;
    border: 2px solid pink;
    padding: 13px 27px;
    border-radius: 10px;
    background-color: rgb(255, 255, 164);
    font-size: 15px;
}
